<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Redpanthers Open source and  Talks"/>
    <!-- Use title if it's in the page YAML frontmatter -->
    <link rel="icon" type="image/png" href="<%= image_path "favicon.ico" %>">
    <title><%= current_page.data.title || "RedPanthers | Ruby Developers @ Kochi" %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %> white-class" ng-app="redpanthers">
    <div class="body-wrapper">
      <div ui-view="landing"></div>
      <div ui-view="sidebar"></div>
      <div ui-view="page" class=""></div>
    </div>

    <%= partial 'partials/analytics' %>
  </body>

</html>
